<div>
	@using (Ajax.BeginForm("SendAsJson", new AjaxOptions { UpdateTargetId = "showResults", LoadingElementId = "loading", LoadingElementDuration = 2000, Confirm = "Выполнить запрос ?", OnSuccess = "OnSuccess" }))
	{
		<input type="text" name="FName" />
		<input type="submit" value="Поиск" />
	}
	<div id="showResults">

	</div>

	<div id="LinkResult">
		@Ajax.ActionLink("Hulk", "LinkResults", new AjaxOptions { UpdateTargetId = "LinkResult" })
	</div>
</div>

@*@section Scripts{
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")*@

	<script type="text/javascript">
        function OnBegin() {
            alert("Ваш запрос принят, выполняется поиск");
        }
        function OnComplete(request, status) {
            alert("Ваш запрос в обработке, под статусом :" + status);
        }
        function OnSuccess(data) {
            var results = $('#showResults');
            results.empty();
            for (var i = 0; i < data.length; i++) {
                results.append('<li>' + data[i].HeroName + '</li>');
            }
            alert("Ваш запрос успешно завершен, получены следующие данные:" + data);
        }
        function OnFailure(request, error) {
            $("#showResults").html("Данный человек нет в нашем реестре. И нет данных схожие с этим человеком." + error)
        }
	</script>
